<nav class="navbar navbar-expand-lg navbar-light bg-light ml-4 mr-4">
  <a class="navbar-brand font-weight-bold" [routerLink]="['/dashboard']" style="color: #575A89; font-size: 30px;">Paymecity<span class="font-weight-light">.ja</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-nav">
      <li class="nav-item ml-3 mr-3">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item ml-3 mr-3">
        <a class="nav-link" [routerLink]="['/employees']" routerLinkActive="active">Employee System</a>
      </li>
    </ul>
  </div>
</nav>
