<p class="alert alert-success mt-2 mb-2 text-center" role="alert" *ngIf="employeeAdded">
    New employee has been added to the database.
  </p>

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4 p-0 font-weight-bold">Employee Name</label>
        <input type="text" class="form-control" formControlName="employee_name" #employee_name />
      </div>
      <div *ngIf="angForm.controls['employee_name'].invalid && (angForm.controls['employee_name'].dirty || angForm.controls['employee_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['employee_name'].errors.required">
          Employee Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 p-0 font-weight-bold">Job Position</label>
        <input type="text" class="form-control" formControlName="job_position" #job_position />
      </div>
      <div *ngIf="angForm.controls['job_position'].invalid && (angForm.controls['job_position'].dirty || angForm.controls['job_position'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['job_position'].errors.required">
          Job Position is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 p-0 font-weight-bold">Payrate</label>
        <input type="number" class="form-control" formControlName="payrate" #payrate />
      </div>
      <div *ngIf="angForm.controls['payrate'].invalid && (angForm.controls['payrate'].dirty || angForm.controls['payrate'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['payrate'].errors.required">
          Payrate is required.
        </div>
      </div>
      <div class="form-group float-left">
          <button [routerLink]="['/employees']" class="btn btn-danger pr-5 pl-5">
            Back
          </button>
      </div>
      <div class="form-group float-right">
        <button (click)="addBusiness(employee_name.value, job_position.value, payrate.value)"
            [disabled]="angForm.pristine || angForm.invalid"
            class="btn btn-success ml-2 mr-2" >
            Add Employee
         </button>
    </div>
    </form>

  </div>
</div>
