<div class="pt-5">
  <div class="jumbotron pb-1 pt-2">
    <h1 class="display-4">Employee Management</h1>
    <p class="lead">A Single-Page Application built with MEAN stack to process basic online CRUD operations with MongoDB Atltas.</p>
    <hr class="my-4">
    <p>
      <b>MongoDB</b>: Prominent NoSQL database which makes the business more scalable. MongoDB saves data in a binary JSON format and does not require updating the entire table, which makes even easier to transfer the data between client and server.
      <br><br>
      <b>Express</b>: Express handles all the interactions between the frontend and the database, ensuring a smooth transfer of data to the end user. It’s designed to be used with Node.js and so continues the consistent use of JavaScript throughout the stack.
      <br><br>
      <b>Angular</b>: Angular is a front-end JavaScript framework for developing the single-page applications which comes with the handy features like the two-way data binding. Angular gives the absolute solution to develop fast and amazing front-end apps.
      <br><br>
      <b>Node.js</b>: A runtime environment for JavaScript execution and performs beyond a traditional web server. Node.js is built on Google Chrome’s V8 JavaScript runtime that helps build extremely ascendible and contemporary web applications at a rapid pace. Node.js provides a server-side solution, which enables the JavaScript implementation on both client and server-side.
    </p>
  </div>

  <p class="lead">
    <a class="btn btn-dark btn-lg float-right" href="#" [routerLink]="['/employees']">Get Started</a>
  </p>

</div>

